<div id="disqus_thread" class="pt-2 pb-4">
  <p class="font-italic text-muted small">Comments powered by <a href="https://disqus.com/">Disqus</a>.</p>
</div>

<script>
/**
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
var disqus_config = function() {
  this.page.url = '{{ site.data.meta.url }}{{ page.url }}';
  this.page.identifier = '{{ page.url }}';
};

(function() {
  var isBlocked = true;
  var d = document,
    s = d.createElement('script');
  s.src = 'https://{{ site.data.meta.disqus-shortname }}.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());

  s.onload = function() {
    isBlocked = false;
  };

  (d.head || d.body).appendChild(s);

  setTimeout(function() {
    console.log("Disqus loading is blocked.");
  }, 3000);

})();
</script>

</script>
<noscript>
  Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
