<div id="sharing">
  <i class="fas fa-share text-muted"></i>&nbsp;
  <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.data.meta.url }}{{ page.url }}&amp;via={{ site.data.profile.twitter }}" target="_blank">
    <i class="fab fa-twitter"></i>
  </a>&nbsp;
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.data.meta.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank">
  <i class="fab fa-facebook-square"></i>
</a>&nbsp;
  <a href="https://plus.google.com/share?url={{ site.data.meta.url }}{{ page.url }}" target="_blank">
  <i class="fab fa-google-plus-g""></i>
</a>
</div>